body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#display {
  border: 1px solid black;  
width:max-content;  
padding:0.5rem;
}

#mainh2 {
  color: rgb(19, 0, 128);
  
}

.main {
  padding-top: 10vh;
	margin-top: 24vh;
	text-align: center;
	display: inline-block;
  background-image: url(./assets/Campus_Panorama.jpg);
}

.sectionTop {
  height: 100vh;
  background-image: url(./assets/Campus_Panorama.jpg);
}

button  {
  border-radius: 1vh;
  margin: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
  border-style: groove;
  border-width: 2px;
  box-shadow: 3px 2px 5px black;
}

.nicebutton {
  text-align: center;
  border-radius: 1vh;
  border-style: groove;
  padding-left: 2vh;
  padding-right: 2vh;
  color: rgb(111, 26, 117);
	background-color: transparent;
 
  
}

.dropdown-item {
  border-style: groove;
  border-color: black;
  border-width: 2px;
}


.dropdown-menu {
  background:none;
  border:none;
}


.flexbox1 {
  display: flex;

}

.flexbox1Elements {
 padding-top: 5vh;
 
}

.flexbox1Elements2 {
  text-align: left;
  padding-top: 2vh;
 
 }

 div.container {
  margin-left: 0%;
  margin-right: 0%;

 
 }

 .wholeLoginPage {
  text-align: center;

 }

 .wid33 {
  width: 33%;
 }

 .col3 {
  width: 100%;
 }


 .bg12 {
  background-color: rgb(91, 111, 219);
  border-radius: 2%;
  padding: 5%;
 }

.container1 {
  width: 100%;
}

svg {
  background-color: transparent;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
}

path {
  fill: transparent;
}

text {
  fill: rgb(91, 111, 219);
  text-shadow: 2px 7px 7px black;
}
.body1 {
  width: 100%;

}

.textshadow {
  text-shadow: 2px 2px 5px white;
}

.buttonshadow {
  box-shadow: 2px 3px 4px black;
}

.buttonshadow:hover {
  background-color:rgb(91, 111, 219);
  color: rgb(138, 240, 36);
}

.btnpad {
  margin-top: 5vh;
  padding: .40vw 2vh;
}

.textdark {
  color:rgb(56, 38, 160);
  text-shadow: 1px 1px 3px black;
}

.mw-parser-output .infobox-subbox {
  padding:0;
  border:none;
  margin:-3px;
  width:auto;
  min-width:100%;
  font-size:100%;
  clear:none;
  float:none;
  background-color:transparent
}
.mw-parser-output .infobox-3cols-child {
  margin:auto
}
.mw-parser-output .infobox .navbar {
  font-size:100%
}
@media screen {
  html.skin-theme-clientpref-night .mw-parser-output .infobox-full-data:not(.notheme)>div:not(.notheme)[style]
  {background:#1f1f23!important;
    color:#f8f9fa
  }
}
@media screen and (prefers-color-scheme:dark){
  html.skin-theme-clientpref-os .mw-parser-output .infobox-full-data:not(.notheme) div:not(.notheme){
    background:#1f1f23!important;
    color:#f8f9fa
  }
}
@media(min-width:640px){
  body.skin--responsive .mw-parser-output .infobox-table{
    display:table!important
  }
  body.skin--responsive .mw-parser-output .infobox-table>caption{
    display:table-caption!important
  }
  body.skin--responsive .mw-parser-output .infobox-table>tbody{
    display:table-row-group
  }
  body.skin--responsive .mw-parser-output .infobox-table tr{
    display:table-row!important
  }
  body.skin--responsive .mw-parser-output .infobox-table th,body.skin--responsive .mw-parser-output .infobox-table td{
    padding-left:inherit;
    padding-right:inherit
  }
}

.mw-parser-output .hlist dl,.mw-parser-output .hlist ol,.mw-parser-output .hlist ul{
  margin:0;
  padding:0
}
.mw-parser-output .hlist dd,.mw-parser-output .hlist dt,.mw-parser-output .hlist li{
  margin:0;
  display:inline
}
.mw-parser-output .hlist.inline,.mw-parser-output .hlist.inline dl,.mw-parser-output .hlist.inline ol,.mw-parser-output .hlist.inline ul,.mw-parser-output .hlist dl dl,.mw-parser-output .hlist dl ol,.mw-parser-output .hlist dl ul,.mw-parser-output .hlist ol dl,.mw-parser-output .hlist ol ol,.mw-parser-output .hlist ol ul,.mw-parser-output .hlist ul dl,.mw-parser-output .hlist ul ol,.mw-parser-output .hlist ul ul{
  display:inline
}
.mw-parser-output .hlist .mw-empty-li{
  display:none
}
.mw-parser-output .hlist dt::after{
  content:": "
}
.mw-parser-output .hlist dd::after,.mw-parser-output .hlist li::after{
  content:" · ";
  font-weight:bold
}
.mw-parser-output .hlist dd:last-child::after,.mw-parser-output .hlist dt:last-child::after,.mw-parser-output .hlist li:last-child::after{
  content:none
}
.mw-parser-output .hlist dd dd:first-child::before,.mw-parser-output .hlist dd dt:first-child::before,.mw-parser-output .hlist dd li:first-child::before,.mw-parser-output .hlist dt dd:first-child::before,.mw-parser-output .hlist dt dt:first-child::before,.mw-parser-output .hlist dt li:first-child::before,.mw-parser-output .hlist li dd:first-child::before,.mw-parser-output .hlist li dt:first-child::before,.mw-parser-output .hlist li li:first-child::before{
  content:" (";
  font-weight:normal
}
.mw-parser-output .hlist dd dd:last-child::after,.mw-parser-output .hlist dd dt:last-child::after,.mw-parser-output .hlist dd li:last-child::after,.mw-parser-output .hlist dt dd:last-child::after,.mw-parser-output .hlist dt dt:last-child::after,.mw-parser-output .hlist dt li:last-child::after,.mw-parser-output .hlist li dd:last-child::after,.mw-parser-output .hlist li dt:last-child::after,.mw-parser-output .hlist li li:last-child::after{
  content:")";
  font-weight:normal
}
.mw-parser-output .hlist ol{
  counter-reset:listitem
}
.mw-parser-output .hlist ol>li{
  counter-increment:listitem
}
.mw-parser-output .hlist ol>li::before{
  content:" "counter(listitem)"\a0 "
}
.mw-parser-output .hlist dd ol>li:first-child::before,.mw-parser-output .hlist dt ol>li:first-child::before,.mw-parser-output .hlist li ol>li:first-child::before{
  content:" ("counter(listitem)"\a0 "
}

.mw-parser-output .geo-default,.mw-parser-output .geo-dms,.mw-parser-output .geo-dec{
  display:inline
}
.mw-parser-output .geo-nondefault,.mw-parser-output .geo-multi-punct,.mw-parser-output .geo-inline-hidden{
  display:none
}
.mw-parser-output .longitude,.mw-parser-output .latitude{
  white-space:nowrap
}

.mw-parser-output .legend{
  page-break-inside:avoid;break-inside:avoid-column
}
.mw-parser-output .legend-color{
  display:inline-block;
  min-width:1.25em;
  height:1.25em;
  line-height:1.25;
  margin:1px 0;
  text-align:center;
  border:1px solid black;
  background-color:transparent;
  color:black
}
.mw-parser-output .legend-text{ background-image: url("");

}